**/*.doc
**/*.docx
**/*.pdf

node_modules
dist

# ===== Java =====
*.class
*.jar
*.war
*.ear
out/
target/

# ===== C# / .NET =====
bin/
obj/
*.user
*.suo
.vs/
*.pubxml
*.pubxml.user

# ===== VS Code =====
.vscode/

# ===== IntelliJ IDEA =====
.idea/
*.iml
*.iws
*.ipr

# ===== OS =====
.DS_Store
Thumbs.db
desktop.ini

# ===== Temp =====
sources.txt

lab1
lab2
lab3
lab4